@media (max-width: 1120px) {}

@media (max-width: 992px) {

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
  }

  .quote_btn-container {
    display: none;
  }


  .ring_section .ring_container .detail-box {
    margin-bottom: 45px;
  }

  .price_section .price_container .box {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    background-position: top left;
    height: auto;
  }

  .slider_section {
    padding: 45px 0;
  }

  .contact_section button {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_section form {
    padding: 0;
  }

  .client_section .client_container {
    flex-direction: column;
  }

  .client_section .client_container .client-id {
    width: auto;
  }

  .client_section .client_container .detail-box {
    margin-top: 35px;
    width: auto;
  }

  .contact_section .map_container {
    height: 350px;
    padding: 0;
  }

  .info_section .col-md-3 {
    display: flex;
    justify-content: center;
  }

  .info_section .info_container .info_contact {
    padding: 35px 0;
  }

  .info_section .info_form form input {
    width: 100%;
  }

  .ring_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .slider_section .detail_box {
    text-align: center;
  }

  .slider_section .detail_box h1 {
    font-size: 4rem;
  }

}

@media (max-width: 480px) {

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }
}

@media (max-width: 420px) {
  .slider_section .detail_box h1 {
    font-size: 3rem;
  }

  .slider_section .detail_box h2 {
    font-size: 1.8rem;
  }

  .heading_container h2::before {
    display: none;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media(min-width:300px){
  .phrase2{
    margin-top: 91px;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    font-size:x-large;
    font-weight:300;
    font-family:unset; 
    background-color: black;
    background-position-x:left;
    position:relative;
    border-radius: 30px;
    width: 305px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
  }
}
@media(min-width:300px){
  .discover{
   
    color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 17px;
    margin-top: 41px;
    margin-bottom: 80px;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.614);
    border-radius: 20px;
    padding-left: 20px;
    line-height: 50px;
  }
  }
  @media(min-width:300px) {
    
  .bt{
    background-color: rgb(235, 141, 0);
height: 50px;
width: 230px;
border: none;
color: white;
border-radius: 30px;
font-size: x-large;
margin-left: 77px;
margin-top: 88px;
  }}
@media (min-width:300px) {
  
.bt{
  margin-left: 21%;
}}
@media(min-width:300px){
  .conélément {
    margin-top: 60px;
    margin-left: 80px;
  }
  .content .car1 .left {
    flex: 0 0 30%;
    padding: 87px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    

  }
}